@import "plain";

{% if site.plainwhite.search %}
  @import "search";
{% endif %}

{%- if site.plainwhite.dark_mode -%}
  @import "toggle";
  @import "dark";
{%- endif -%}

/* Responsive math block display */
.katex-display, .MathJax_Display {
    display: block;
    max-width: 100%;
    font-size: 85%; /* Further reduce font size for better fitting */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical overflow */
    white-space: normal; /* Allow breaking */
    word-wrap: break-word; /* Ensure wrapping if necessary */
    line-height: 1.2em; /* Slightly adjust line height */
}

/* Responsive inline math */
.katex, .MathJax {
    display: inline-block;
    max-width: 100%;
    font-size: 90%; /* Reduce font size for inline math */
    overflow-x: auto;
    white-space: normal; /* Allow wrapping */
    word-wrap: break-word;
}

/* Optional: Adjust the margin for block-level math equations to ensure they fit well within the container */
.katex-display, .MathJax_Display {
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 0; /* Add padding to avoid overlap */
}
